/*--------------------------------------------*/
/* colors */
/*--------------------------------------------*/

/* 
   background gray: #F0F0F0 
   header backgrond: #2C2C2C
   logo blue: #71B6F7
*/

body {
    background-color: #F0F0F0;
}

div.container {
    background-color: white;
}

.shadow {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.inner-shadow {
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #000000;
}

.rounded {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.white-shadow {
  text-shadow: 2px 2px white;
}


#header {
    background-color: #2C2C2C;
    color: white;
}
#header h1 {
    color: #71B6F7;
    font-size: 4em;
    margin-bottom: 0px;
}
#header h1 span {
    color: white;
}

#header #navigation {
    color: white;
    font-size: 1.5em;
    text-align: right;
}
#header #navigation a {
    color: white;
    margin-right: 5px;
}

#sidebar #logo {
    text-align: center;
}

/*--------------------------------------------*/
/* pregunta actual */
/*--------------------------------------------*/

#pregunta-actual {
    background-color: #F0F0F0;
    color: #71B6F7;
    text-align: center;
    font-size: 2em;
    padding-top: 5px;
    display: none;
}

#pregunta-actual li.pregunta {
   display: none;
}

/*--------------------------------------------*/
/* candidato actual */
/*--------------------------------------------*/
#candidato-actual {
    background-color: #F0F0F0;
    display: none;
}

#candidato-actual .title {
    background-color: black;
    text-align: center;    
}

#candidato-actual h3 {
    color: white;
}

#candidato-califica {
    text-align: center;
    font-size: 1.8em;
}

#candidato-califica select {
    font-size: 1.5em;
}

#no-hay-candidato {
    font-size: 2em;
    text-align: center;
}

#candidato-actual div.candidato {
    display: none;
}

#candidato-actual div#gracias {
    display: none;
}
/*--------------------------------------------*/
/* estadistica */
/*--------------------------------------------*/

#estadistica {
    background-color: black;
    text-align: center;    
}

#estadistica h2 {
    color: #71B6F7;
}

#estadistica #estadistica-grafica {
    color: white;
}

/*--------------------------------------------*/
/* evento no iniciado */
/*--------------------------------------------*/

#evento-no-iniciado,
#evento-finalizado,
#evento-cargando {
    font-size: 3em;
    text-align: center;
    background-color: #F0F0F0 ;
}
#evento-no-iniciado h2,
#evento-finalizado h2,
#evento-cargando h2 {
    color: #71B6F7; 
}
#evento-no-iniciado,
#evento-finalizado {
    display: none;
}

/*--------------------------------------------*/
/* evento finalizado */
/*--------------------------------------------*/




/* Simple scalable breadcrumb by Veerle Pieters
   ------------------------------------------------------------------*/

#breadcrumbs ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
}

#crumbs {
    height:2.3em;
    border:1px solid #dedede;
}

#crumbs li {
    float:left;
    line-height:2.3em;
    color:#777;
    padding-left:.75em;
}
#crumbs li a {
    background:url("../images/crumbs.gif") no-repeat right center;
    display:block;
    padding:0 15px 0 0;
}
#crumbs li a:link,
#crumbs li a:visited {
    color:#777;
    text-decoration:none;
}


#crumbs li a:hover { color:#dd2c0d; }
#crumbs li a:focus {
    color:#dd2c0d;
}

/*--------------------------------------------*/
/* ABC Forms */
/*--------------------------------------------*/


.show h2 { border-bottom: 1px solid #BBB;
           color: #444;
           font-size: 20px;
           margin: 0px 0px 10px;
           padding: 2px 10px 1px 0px;  }

.show #options { padding-bottom: 30px; }

.show .box {     background-color: #F6F6F6;
             border: 1px solid #E4E4E4;
             color: #505050;
             padding: 10px;  
             padding-bottom: 50px; }

.show .show-table-header { width: 20%; }
.show .show-table-data { width: 80%; }

.show-table-header { width: 20%; }
.show-table-data { width: 80%; }

.listing h2 { border-bottom: 1px solid #BBB;
              color: #444;
              font-size: 20px;
              margin: 0px 0px 10px;
              padding: 2px 10px 1px 0px;  }

.mantform h2 { 
               border-bottom: 1px solid #BBB;
               color: #444;
               font-size: 20px;
               margin: 0px 0px 10px;
               padding: 2px 10px 1px 0px; }

.mantform form { 
                 background-color: #F6F6F6;
                 border: 1px solid #E4E4E4;
                 color: #505050;
                 padding: 10px;  
                 padding-bottom: 50px;
                 }

.listing { float: left;
           width: 100%;}
.listing #options { float: left; 
                    width: 100%; }
.listing #options #buttons { float: left; }
.listing #options #findbox { float: right;}

.listing #solicitudes { float: left; 
                        width: 100%;
                        margin-bottom: 20px;
                      }

.listing tr.inactive td {
    text-decoration: line-through;
    color: #666;
}

.listing tr.inactive td a {
    color: #666;
}

/* Links de paginacion */

div.pagination {
    width: auto;
    text-align: center;  
}
div.pagination a {
    padding-left: 2px;
    padding-right: 2px;
}
