#evento-no-iniciado.span-15.last.rounded.shadow
  %h2 Foro Virtual 2011
  %h3 Evento por iniciar
  %p Gracias por participar en el Foro Virtual 2011.
  %p Espera unos momentos mientras inicia el evento.
#evento-finalizado.span-15.last.rounded.shadow
  %h2 Foro Virtual 2011
  %h3 Evento ha Concluido
  %p Gracias por haber participado.
  %p Visita la pagina de Estadisticas para ver los resultados    
#evento-cargando.span-15.last.rounded.shadow
  %h2 Foro Virtual 2011
  %h3 Cargando...
