#header.span-24.last
  #logo.span-9.prepend-1
    %h1
      \#EForo
      %span 2011
    %p.slogan Foro Virtual 2011.Tu opinión cuenta HOY.
  #navigation.span-14.last
    = link_to 'Inicio', root_path
    = link_to 'Estadisticas', estadisticas_path
    = link_to 'Acerca de', acercade_path
    = link_to 'Licenciamiento', licenciamiento_path
%hr.space
