= render 'header'
#acercade.span-22.prepend-1.append-1.last
  %h2 Acerca de la aplicación
  %p "Tomando como base el ejemplo de #{link_to '@EstoesGuate', 'http://twitter.com/estoesguate'} , y el éxito del primer #{link_to 'Foro Virtual para candidatos a la alcaldía metropolitana', 'http://www.facebook.com/event.php?eid=108949322537691'} de la ciudad de Guatemala de La Asunción, tome la desición de poner mi granito de arena."
  %p La idea detras de esta aplicación es simple. Actualmente podemos 'medir' la aprobación a las respuesta dadas por los candidatos de cualquier foro leyendo los comentarios en las redes sociales. Sin embargo no hay una manera estandar de poner esa información en números, los cuales nos permitan determinar un 'ganador' del evento.
  %p ¿Por qué es importante esto?
  %p Porque los póliticos sueles responder en base a la frase 'Si no puedes contra ellos, confundelos...'. Lo cual esta bien, si nuestro objetivo es escuchar información inutil. Sin embargo si nuestra intención es poder medir las mejores respuestas a la problematica presentada, necesitamos datos concretos sobre las repuestas de los candidatos.
  %p Así pues deja a su disposición está aplicación para ser usada para futuros eventos, esperando que esta inciativa ayude a unirnos como hermanos y a tomar la mejor desición para el futuro de nuestro país.
  %br
  %p= link_to '@JmanGt', 'http://twitter.com/jmangt'
