= render 'header'
#licenciamiento.span-22.prepend-1.append-1.last
  %h2 Licenciamiento
  %p Copyright (c) 2011 JManGt
  %p Se autoriza, de forma gratuita, a cualquier persona que ha obtenido una copia de este software y archivos asociados de documentación (el "Software"), para tratar en el Software sin restricción, incluyendo sin ninguna limitación en lo que concierne los derechos para usar, copiar, modificar, fusionar, publicar, distribuir, sublicenciar, y / o vender copias de este Software, y para permitir a las personas que usan el Software para hacerlo, con sujeción a las siguientes condiciones:
  %p El aviso de copyright anterior y este aviso de permiso se incluirá en todas las copias o partes sustanciales de este Software.
  %p EL SOFTWARE SE ENTREGA "TAL CUAL", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, no limitado a la GARANTÍAS DE COMERCIALIZACIÓN, CAPACIDAD DE HACER Y DE NO INFRACCIÓN DE COPYRIGHT. EN NINGÚN CASO LOS AUTORES O TITULARES DEL COPYRIGHT SERÁN RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑOS U OTRAS RESPONSABILIDADES, YA SEA EN UN LITIGIO, AGRAVIO O DE OTRO MODO, DERIVADAS DE, FUERA DE O EN CONEXION CON EL SOFTWARE SU UTILIZACIÓN U OTRAS OPERACIONES EN EL SOFTWARE.
  %hr
  %h3 Código Fuente
  %p El código fuente de esta apliación esta disponible para uso, copia, modificación y distribucioń en GitHub.com.
  %p= link_to 'IR A CODIGO FUENTE', 'https://github.com/jalvarezsamayoa/EForoGt'

